.pProfile {
  border-bottom:1px solid #ceae9b;
  width:80%;
  margin:auto;
  padding:10px;
}

span{
  display:inline-block;
  text-align: left;
  color:#535659;
}

.key{
  width:40%;
}

.value{
  width:60%;
}