.header {
  font-family:sans-serif;
  height:10%;
  margin:0px auto;
  text-align: left;
  width:100%;
  h1 {
    margin-left: 22px;
  }
}

.header ul {
  margin-left: -1.5em;
  margin-bottom: 1em;
}

.header ul li {
  list-style: none;
  padding: 0;
  text-align: left;
  display: inline-block;
  margin: 0 .5em 0 .5em;
}

