@import 'vars';
@import url('https://fonts.googleapis.com/css?family=Amiko');

body {
  background: $background-img no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: 'Amiko', sans-serif;
  width:100%;
}

.app {
  background-color:#db6c27;
  background: rgba(219,108,39,0.92);
  position:absolute;
  left:15%;
  right:15%;
  top:0;
  min-height:100vh;
}

h1, h2 {
  color: $font-color;
  font-family: 'Amiko', sans-serif;
}

p {
  font-family: 'Amiko', sans-serif;
}

.loginSignup {
  color:#4a4a4a;
  font-weight:normal;
}

input {
  margin-right: 10px;
}


.linkLogin {
  color:#666;
}

.authButton {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  text-align: center;
  font-size: .8em;
  padding: .5em 1.5em;
  margin: 15px auto;
  cursor: pointer;
  opacity: 0.9;
  width: 50%;
  transition-duration: 0.4s;

  :hover {
    background-color: #555555;
    color: white;
  }
}


@media (max-width: 600px) {

  .app {
    position:absolute;
    left:5%;
    right:5%;
  }

}

@media screen and (max-width: 600px) {

  .app {
    position:absolute;
    left:5%;
    right:5%;
  }

}
