@import 'vars';

body {
  background: $background-img no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: sans-serif;
  width:100%;
}

.app {
  background-color:#db6c27;
  background: rgba(219,108,39,0.92);
  position:absolute;
  left:10%;
  right:10%;
  top:0;
}

h1, h2 {
  color: $font-color;
}

.loginSignup {
  color:#4a4a4a;
  font-weight:normal;
}

input {
  margin-right: 10px;
}

.landing{
  height:100vh;
}

.linkLogin {
  color:#666;
}
