@import 'vars';

body {
  background: $background-img;
  text-align: center;
  font-family: sans-serif;
  width:100%;

  // background: url('/../assets/RedeemingSoles.jpg');
  // background: url('..#{$assets}RedeemingSoles.jpg');
  // background-size:cover;
}

.app {
  background-color:#db6c27;
  position:absolute;
  left:5%;
  right:5%;
  top:0;
  // margin: -20px auto;

}

h1, h2 {
  color: $font-color;
}

input {
  margin-right: 10px;
}

.landing{
  background-color:#db6c27;
  height:100vh;
}
