#itemList {
  overflow: scroll;
  border: 1em #f2f2f2 solid;
  background: white;
  height: 20.4em;
  width: 45.5%;
  float: right;
}

#requestHeader {
  margin: 0 auto;
  display: block;
  padding: 10px 0px 5px;
}

.requestOrderButton {
  margin: 0 auto;
  width: 25%;
  font-size: .8em;
  display: block;
}

@media only screen and (max-width: 900px) {
  #itemList {
      height: 100%;
      width: 76.3%;
      margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  #itemList {
      height: 100%;
      width: 78%;
      margin: 0 auto;
  }
}
