.requestOrder {
  background-color: #f2f2f2;
  padding: 10px 20px 0px 20px;
  width: 50%;
  margin: 0 auto;
  display:table-cell;
  vertical-align:top;
}


#itemList {
  overflow: scroll;
  border: 1em #f2f2f2 solid;
  background: white;
  height: 100%;
  width: 90%;
}

#requestHeader {
  margin: 0 auto;
  display: block;
  padding: 10px 0px 5px;
}

.requestOrderButton {
  margin: 0 auto;
  width: 25%;
  font-size: .8em;
  display: block;
}

@media only screen and (max-width: 900px) {

  .requestOrder {
    background-color: #f2f2f2;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    float:left;
  }
  #itemList {
      min-height: 50px;
      width: 76.3%;
      margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {

  .requestOrder {
    background-color: #f2f2f2;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    float:left;
  }
  #itemList {
      min-height: 50px;
      width: 78%;
      margin: 0 auto;
  }
}
